<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.spring.Student">
        <property name="name" value="Pratap"></property>
        <property name="marks" value="84"></property>
        <property name="results" value="#{84>35 ? 'Pass' : 'Fail'}"></property>
    </bean>

</beans>